@media screen and (min-width: 500px){
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
}

.background {
  transform: translateZ(-15px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.foreground {
  position: absolute;
  margin-bottom: -10vh;
  height: 120%;
  width: 105%;
  object-fit: cover;
  z-index: -1;
  margin-bottom: 0px;
  
}

.header-logo{
  height:7vh;
  width: 18vw;
  object-fit: cover;
  z-index: -2;
  background-color: transparent;
}

.nav-header{
  background-color: #231f20;
display: flex;
justify-content: center;
top: 0;
position: fixed;
width: 100%;
}
.product-header-text{
  font-size: 30rem;
  color: rgb(253, 191, 7);
  font-family: 'Cormorant', serif;
}
.product-header-text-under{
  font-size: 20rem;
  color: rgb(253, 191, 7);
  font-family: 'Cormorant', serif;
  margin-top: -30vh;
  z-index: -2;
}

}

@media screen and (max-width:750px) {
  header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    text-align: center;
  }
  
  .background {
    transform: translateZ(-15px) scale(2);
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background{
   
  display: none;
  }
  .foreground {
    position: absolute;
    margin-top: -10%;
    height: 10%;
    width: 105%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 0px;
    display: none;
  }
  
  .header-logo{
    height:7vh;
    width: 18vw;
    object-fit: cover;

    background-color: transparent;
  }
  
  .nav-header{
    background-color: #231f20;
  display: flex;
  justify-content: center;
  top: 0; 
  position: fixed;
  }
}