@media screen and (min-width: 1000px){
.desktop-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  overflow:visible
}

.background {
  transform: translateZ(-15px) scale(2);
}

.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background{
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
   
}
.foreground {
  position: absolute;
  margin-top: 1%;
  margin-bottom: -10vh;
  height: 120%;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
  /* margin-bottom: 115px; */
  font-size: xx-large;
  font-size: 8vw;
  color: #231f20;
  font-family: 'Cormorant', serif;
  line-height:1.5;
  
}

.header-logo{
  height:7vh;
  width: 18vw;
  object-fit: cover;
  z-index: -2;
  background-color: transparent;
}

.nav-header{
  background-color: #231f20;
display: flex;
justify-content: center;
top: 0;
position: fixed;
width: 100%;
}


.mobile-header{
  display: none;
}
.desk-logo{
  display: all;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: #231f20;
  z-index: 1;
}


}

@media screen and (max-width:1000px) {
  .desktop-header {
  display:none;
  }
  .desk-logo{
    display: none;
  }

  
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  background-color: #231f20;
  z-index: 1;
  margin-top: -120px;
}

  .mobile-header{
  height: 50%;
  width: 100%;
  resize: both;
  margin-bottom: 0px;
  margin-top: 0px;
  }

  .background {
    display: none;
  }
  
  .foreground {
    display: none;
  }
  
  .background{
   
  display: none;
  }
  .foreground {
    position: absolute;
    margin-top: -10%;
    height: 10%;
    width: 105%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: 0px;
    display: none;
  }
  
  .header-logo{
    height:7vh;
    width: 18vw;
    object-fit: cover;

    background-color: transparent;
  }
  
  .nav-header{
    background-color: #231f20;
  display: flex;
  justify-content: center;
  top: 0; 
  position: fixed;
  }
}