.info-panel{
height: 5vh;
}
.panel-img{
  align-items: center;
  height:100vh;
  width: 100vw;
  margin: 0px;
}
.info-panel > .row{
  height: 50%;
}

@media (max-width: 767px) {
  .info-panel{
    height: 5vh;
    }
    .panel-img{
      align-items: center;
      /* height:100vh; */
      width: 100vw;
      margin: 0px;
    }
 }
