.slide__wrapper{
  /* align-items: center;
  flex: auto; */
}

#img-1{
align-items: center;
max-width: 50vw;
max-height: 50vh;
margin-left: 5vw;
}

#img-2 {
  align-items: center;
max-width: 50vw;
max-height: 50vh;
margin-left: 5vw;
}

#img-3 {
align-items: center;
max-width: 50vw;
max-height: 50vh;
margin-left: 5vw;
}