.slide__wrapper{

  margin-top: -10vh;
  align-items: center;
  justify-self: center;
  margin-left: 0%;
  margin-right: 0%;
  box-shadow: 5px 5px rgba(0,0,0,.15);
  display: flex;
  z-index:-1;
  height: 30VH;

}

#img-1{

  /* align-items: center;  */
  max-width: 70vw;
  max-height: 70vh;
  min-width: 20vw;
  min-height: 20vh;
}

#img-2 {

  /* align-items: center;  */
  max-width: 70vw;
  max-height: 70vh;
  min-width: 20vw;
  min-height: 20vh;
  
}

#img-3 {

  /* align-items: center; */
  max-width: 70vw;
  max-height: 70vh;
  min-width: 20vw;
  min-height: 20vh;

}


.active {

  /* align-items: center; */
  max-width: 70vw;
  max-height: 70vh;
  min-width: 20vw;
  min-height: 20vh;
  margin-right: 15vw;

  }

  .car-inner{
    max-width: 70vw;
  max-height: 70vh;
  min-width: 70vw;
  min-height: 70vh;
  margin-right: 15vw;
    }