.slide__wrapper{

  position: relative ;
  align-items: center;
  justify-self: center;
  margin-left: 0%;
  margin-right: 0%;
  box-shadow: 5px 5px rgba(0,0,0,.15);
  display: flex;
  z-index: 1;
  max-height: 30VH;
  

}

.active {

  max-width: 100%;
  max-height: 100%;
  min-width: 20vw;
  min-height: 20vh;
  margin-right: 15vw;
  z-index: 3;

  }

  .carousel-in{
    z-index: -1;
  }
  .caption{
    z-index: 1;
  }

  .carousel-inner{
    justify-content: center;
    width: 100vw;
    max-width: 100%;
  }

  .slide-text{
    margin-bottom: -80vh;
    text-align: center;
    z-index: 2;
    color:white;
    font-size:4vw;
    overflow-x: hidden;
  }