.main-content {
  overflow:hidden;    
    display: row;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-left: 0px;
    width: 100vw;;
    height: 100%;
    color: #fff;
    text-align: center;
}
.product-header-logo{
  position: relative;
  background-color: transparent;
  font-family: 'Cormorant', serif;
}
.product-header-logo span {
  position: relative;
  display: flex;
  font-size: 30vh;
  color:#fa3600;
  text-transform: uppercase; 
  animation: flip ;
  animation-delay: calc(30s * var(--i));
  border-bottom: -300px;
}

.m2{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.m2-icon{
  justify-content: center;
  height:100%;
  width: 200px;
  border-radius: 50%;
}

.pushable:active .front {
  transform: translateY(-2px);
}
.facebook-f{
  height:100%;
  width: 200px;
}
.col-4{
  margin-left:-1vw;
}