.content {
  min-height: 100vh;
  display: flex;
  margin-bottom: -10vh;
  margin-top: 10vh;
}
.slides {
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
  max-height: 300px;
  min-height: 5vh;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer { 
text-align: center;
align-items: center;
margin-top: 20px;
height: 10vh;
}

.header{
  text-align: center;
  letter-spacing: 1px;
  height: 5vh;
  box-shadow: 5px 5px rgba(0,0,0,.15);
  margin-bottom: -7px;
  

}
.m-1{
  height: 4vh;
  width: 8vw;
  border: 1px solid blue;

}
.header-logo{
  height:9vh;
  width: 40vw;
}
.info-form {
  align-items: center;
  min-height: 100vh;
  display: flex;
}
.product-info {
  display: flexbox;
  position: absolute;
}