.content {
  min-height: 100vh;
  display: flex;
  margin-bottom: -10vh;
  margin-top: 10vh;
}
.slides {
  align-items: center;
  min-height: 100vh;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer { 
text-align: center;
align-items: center;
margin-top: 20px;
box-shadow: 5px 5px rgba(0,0,0,.15);
height: 10vh;
}

.header{
  text-align: justify;
  letter-spacing: 1px;
  height: 5vh;
  box-shadow: 5px 5px rgba(0,0,0,.15);

}
.m-1{
  height: 50px;
  width: 50px;
  border: 1px solid blue;

}
.navbar-logo{
  height: 5vh;
  width: 15vw;
}