.body{
  box-sizing: border-box;
  font-family: 'Cormorant', serif;

}

.form-input{
  font-size: medium;
  position:relative;;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
